<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Database</h1>
    <p class="lead">Look at the things!</p>
  </div>
</header>

<h4>Student Status</h4>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
<div ng-controller="MainController">
  <form name="myForm">
    <select name="singleSelect" ng-model="main.credits">
      <option value="-1">All</option>
      <option value="30">Freshmen</option>
      <option value="60">Sophomore</option>
      <option value="90">Junior</option>
      <option value="120">Senior</option>
    </select><br>
  </form>
</div>

<h4 class="list-inline">Test</h4>
      <div ng-controller="MainController">
        <form name="myForm">
          <select name="singleSelect" ng-model="main.classIP">
            <option value="-1">All</option>
            <option value="Models of Computing Systems">Models of Computing Systems</option>
            <option value="Software Design and Development">Software Design and Development</option>
            <option value="PreCalculus I: Functions">PreCalculus I: Functions</option>
            <option value="Calculus II">Calculus II</option>
            <option value="Data Structures">Data Structures</option>
            <option value="Theory: Quantum Computing">Theory: Quantum Computing</option>
            <option value="Beginning French I">Beginning French I</option>
            <option value="Intermediate French I">Intermediate French I</option>
            <option value="Intermediate French II">Intermediate French II</option>
            <option value="Reading and Analysis of Texts">Reading and Analysis of Texts</option>
            <option value="Fundamentals of Genetics, Evolution, and Development">Software Design and Development</option>
            <option value="Introduction to Film Studies">Introduction to Film Studies</option>
            <option value="Beginning Ceramics">Beginning Ceramics</option>
            <option value="Foundations of Computer Science">Foundations of Computer Science</option>
            <option value="PreCalculus II: Trigonometry">PreCalculus II: Trigonometry</option>
            <option value="Beginning French I">Beginning French I</option>
            <option value="Intermediate French I">Intermediate French I</option>
          </select><br>
        </form>
      </div>
</div>
</div>
</div>
<!--<div class="container">-->
  <!--<div ng-controller="MainController">-->
    <!--<form name="majorForm">-->
      <!--<select name="singleSelect" ng-model="main.major">-->
        <!--<option value="CSCI">CSCI</option>-->
      <!--</select><br>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Order by:</h2>
        <button type="button" class="btn btn-primary" ng-click="main.order = 'lastName'">Name</button>
        <button type="button" class="btn btn-primary" ng-click="main.order = 'dateOfBirth'">Date of Birth</button>
        <button type="button" class="btn btn-primary" ng-click="main.order = totalCreditsFilter">Total Credits</button>
      <h1 class="page-header">Students:</h1>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="thing in main.awesomeThings | orderBy: main.order | creditCounter: main.credits">
        <li>
          <a href="#"
             tooltip="{{thing.info}}">
            {{thing.lastName}}, {{thing.firstName}},
            </br>
            Major(s): {{thing.major1}}, {{thing.major2}}
            </br>
            Date of Birth: {{thing.dateOfBirth}},
            </br>
            {{thing.courses | gpa}},
            </br>
            {{thing | totalCredits }},
            <button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">-->
      <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--</p>-->
  <!--</form>-->
</div>
