<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Student Information</h1>
  </div>
</header>

<div id="sidebar">

  <h4 class="page-header">Order by:</h4>

  <button type="button" class="btn btn-primary btn-md btn-block active" ng-click="main.order = 'lastName'">Name</button>
  <button type="button" class="btn btn-primary btn-md btn-block active" ng-click="main.order = 'dateOfBirth'">Date of Birth</button>
  <button type="button" class="btn btn-primary btn-md btn-block active" ng-click="main.order = totalCreditsFilter">Total Credits</button>

  <h4>Class Option</h4>
  <form name="myForm">
    <select name="singleSelect" ng-model="main.credits">
      <option value="-1">All</option>
      <option value="30">Freshmen</option>
      <option value="60">Sophomore</option>
      <option value="90">Junior</option>
      <option value="120">Senior</option>
    </select>
  </form>

  <h4>Subject</h4>
    <div ng-controller="MainController">
      <form name="myForm">
       <select id="selectNumber">
         <option ng-repeat="thing in main.subjectArrayMaker(main.awesomeThings)">{{thing}}</option>
        </select>
      </form>
    </div>

  <h4>Show Options</h4>
  <form>
    <button type="button" class="btn btn-primary btn-md btn-block active" ng-click="showgpa=!showgpa">Show GPA</button>
    <button type="button" class="btn btn-primary btn-md btn-block active" ng-click="showcredits=!showcredits">Show Credits</button>
  </form>



</div>


<!--<div class="container">-->
  <!--<div ng-controller="MainController">-->
    <!--<form name="majorForm">-->
      <!--<select name="singleSelect" ng-model="main.major">-->
        <!--<option value="CSCI">CSCI</option>-->
      <!--</select><br>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->



<div class="container" id="main">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Students:</h1>
      <div ng-app id="ng-app">
      <ul class="nav nav-tabs nav-stacked" ng-repeat="thing in main.awesomeThings | orderBy: main.order | creditCounter: main.credits">
        <li>
            <a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed">
              {{thing.lastName}}, {{thing.firstName}}

              <div id="gpaDiv"  ng-show="showgpa">
                {{thing.courses | gpa}}
              </div>

              <div id="gpaDiv"  ng-show="showcredits">
                {{thing | totalCredits}}
              </div>

            </a>
            <a ng-show="collapsed">
              Major(s): {{thing.major1}}, {{thing.major2}}
              </br>
              Date of Birth: {{thing.dateOfBirth}},
              </br>
              {{thing.courses | gpa}},
              </br>
              {{thing | totalCredits }},
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>


  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">-->
      <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--</p>-->
  <!--</form>-->
</div>
